[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "submodules/catch"]
	path = submodules/catch
	url = https://github.com/philsquared/Catch.git
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git